# Ignore Python virtual environments
venv/
env/
chat/Lib/
chat/Include/
chat/Scripts/
__pycache__/
*.pyc
*.pyd
*.dll
*.so
*.lib
*.egg-info
.DS_Store

# VSCode
.vscode/

# Environment files
.env

# Streamlit
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
